@import "base/variables";

// Components
@import "components/navigation";
@import "components/lobby";
@import "components/race";
@import "components/results";
@import "components/picker";
@import "components/container";
@import "components/mode-selection";

.page-header {
  margin-top: $space-large;
  margin-bottom: $space-large;
}

.container {
  background-color: $container-background-color;
  border: 1px solid $container-border-color;
  border-radius: 3px;
}
