$space-large: 5rem;
$space-medium: 3rem;

.page-header {
  margin-top: $space-large;
  margin-bottom: $space-large;
}

.lobby-box-header {
  margin: $space-medium;
}

.active {
  font-weight: bold;
}
