// Partial scss file;

$space-large: 2.5rem;
$space-medium: 1rem;

// Colors
$grey: #eaeaea;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;
$white: #ffffff;
$green: #2ecc71;


$container-background-color: $light-grey;
$container-border-color: $light-grey-border;

$connected-box-background-color: $grey;
$connected-box-border-color: $light-grey-border;
$player-names-color: $green;

$start-box-background-color: $light-grey;
