// Connected box

.connected-box {
  padding: $space-large;
  background-color: $connected-box-background-color;

  .has-bid {
    color: $player-names-color-has-bid;
  }

  .has-no-bid {
    color: $player-names-color-has-no-bid;
  }
}

// Start box

@keyframes game-id-keyframes {
  0% {
    color: rgb(39, 174, 96);
  }
  25% {
    color: rgb(52, 73, 94);
  }
  50% {
    color: rgb(52, 152, 219);
  }
  75% {
    color: rgb(231, 76, 60);
  }
  100% {
    color: rgb(39, 174, 96);
  }
}

.start-box {
  padding: $space-large;

  .game-id {
    animation: game-id-keyframes;
    animation-duration: 15s;
    animation-iteration-count: infinite;
  }
}

.lobby-box-header {
  margin: $space-medium;
}
