// =====================
// Game -- general
// =====================

.side-card {
  margin:0.2rem;
}

.camel {
  margin:0.2rem;
}

.latest-card {
}

.deck {
}

// Remove indent
.container {
  ul {
    margin-left: 0;
  }
}




// =====================
// Side cards
// =====================


// =====================
// Camels
// =====================


// =====================
// Deck & last card
// =====================

